/system
/config
.DS_Store
MPS.artifacts
flex_sdk
.idea/workspace.xml
.idea/inspectionProfiles
/build/solution/.idea/workspace.xml
/MPSPlugin/.idea/workspace.xml
/MPSPlugin/apiclasses
/IdeaPlugin/availables.xml
/IdeaPlugin/.idea/workspace.xml
/IdeaPlugin/build
/IdeaPlugin/build.properties
/IdeaPlugin/mps-core/lib
/IdeaPlugin/mps-core/languages
/IdeaPlugin/mps-java/lib
/IdeaPlugin/tests/blProject/.idea/workspace.xml
/IdeaPlugin/tests/multiModulesProject/.idea/workspace.xml
/build/tmp/*
/build/artifacts/*
classes
classes_gen
testclasses
*.iws
teamcity-info.xml
*.hprof
*.class
plugins/debugger-api/lib/*.jar
plugins/debugger-java/lib/*.jar
plugins/mpsjava/lib/*.jar
plugins/execution-languages/lib/*.jar
plugins/execution-configurations/lib/*.jar

build/build.number
