<!DOCTYPE idea-plugin
  PUBLIC
    "Plugin/DTD"
    "http://plugins.intellij.net/plugin.dtd"
>
<idea-plugin xmlns:xi="http://www.w3.org/2001/XInclude"><id>jetbrains.mps.ide.migration</id>
<name>Migration</name>
<description>Provides actions to migrate models and languages developed using previous versions of MPS</description>
<version>2.0</version>
<vendor url="http://www.jetbrains.com/mps/">JetBrains</vendor>
<idea-version since-build="3000"></idea-version>


<application-components><component><implementation-class>jetbrains.mps.ide.migration.actions.Migration_PluginInitializer</implementation-class>
</component>
</application-components>
</idea-plugin>
